.body{
  margin: 0;
}
.logo{
  box-sizing: border-box;

  position: absolute;
  width: 1920px;
  height: 200px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 1px solid #000000;
}

.main-top-box{
  box-sizing: border-box;

  position: absolute;
  width: 1920px;
  height: 200px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  border: 1px solid #000000;

}
