{% load static %}
{% load bootstrap5 %}
<link rel="stylesheet" href="{% static './style.css'%}">

<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>동심원</title>
  
  <!-- css 작성-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static './css/sign/sign.css'%}">
</head>

<body>
  <!-- mb-4 태그는 공백을 의미함 밑 하단 조정-->
  <main>

  <!-- 최상단 header 시작 -->
  <header class="py-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        
        <span class="navbar-brand fs-2 fw-bold " href="/">동심원</span>
      </a>
      <!-- 임시 라이팅 -->
      <span>(임시 라이팅) </br>감사한 마음이 소중한 당신에게 닿을 수 있도록 </br> love what you have.</span>
    </div>
  </header>
  <!-- 최상단 header 종료 -->


  <!-- nav 시작 -->
  <nav class="shadow-sm py-2 border-bottom">
    <div class="container d-flex flex-wrap">
            
      <!-- 3중 버튼 시작 -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- 3중 버튼 끝 -->
      
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>

        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link link-dark px-2 dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <span>모든상품</span>
              <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">브라이덜 샤워</a></li>
              <li><a class="dropdown-item" href="#">출생</a></li>
              <li><a class="dropdown-item" href="#">혼인</a></li>
              <li><a class="dropdown-item" href="#">생일</a></li>
              <li><a class="dropdown-item" href="#">임신</a></li>
              <li><a class="dropdown-item" href="#">출산(베이비샤워)</a></li>
              <li><a class="dropdown-item" href="#">돌잔치</a></li>
              <li><a class="dropdown-item" href="#">약혼</a></li>
              <li><a class="dropdown-item" href="#">환갑</a></li>
              <li><a class="dropdown-item" href="#">칠순</a></li>
            </ul>
          </li>
      </ul>

      <!-- nav drop box 이후 파트 -->
        <li class="nav-item"><a class="nav-link link-dark px-2" href="/">할인상품</a></li>
        <li class="nav-item"><a class="nav-link link-dark px-2" href="/">판매자 등록 신청</a></li>
        <li class="nav-item"><a class="nav-link link-dark px-2" href="/">공지사항</a></li>
        <li class="nav-item"><a class="nav-link link-dark px-2" href="/">고객문의</a></li>
        <li class="nav-item"><a class="nav-link link-dark px-2" href="/">리뷰보기</a></li>
      <!-- nav drop box 이후 파트 -->
      </ul>

      <!-- 로그인, 마이페이지, 회원가입 등 시작 부분-->
      <ul class="nav">
        <li class="nav-item"><a href="{% url 'login' %}"  class="nav-link link-dark px-2">로그인</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}"  class="nav-link link-dark px-2">회원가입</a></li>
      </ul>
      <!-- 로그인, 마이페이지, 회원가입 등 끝 부분-->

      
      <!-- 검색 시작 부분 -->
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- 아이콘으로 대체할 거임-->
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <!-- 검색 끝 부분 -->
    </div>
  </nav>
  <!-- nav 종료 -->


  <!-- 회원가입 시작 -->
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Repeat Password">
                                </div>
                            </div>
                            <a href="login.html" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </a>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="login.html">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- 회원가입 끝 -->


  </main>

<!-- 메인 끝 -->

  <!-- footer 시작 -->
  <footer>
    <div class="container">
      
      <div class="row row-cols-5 py-5 my-2 border-top">
        <div class="col">
          <h3>동심원</h3>
          <p>당신의 소중한 사람들에게 감사함을 전합니다.</p>
          <p>소중한 인연이 만족하는 선물을 전합니다.</p>
          <p class="text-muted">&copy; 2022 성조</p>
        </div>
        <div class="col"></div>
    
        <div class="col">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">모든상품</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">할인상품</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">판매자 등록 신청</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">공지사항</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">고객문의</a></li>
          </ul>
        </div>
    
        <div class="col">
          <h5>전화문의</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">82-000-0000</li>
            <li class="nav-item mb-2">전화문의는 평일 9시부터 6시까지만 가능합니다.</li>
          </ul>
        </div>
    
        <div class="col">
          <h5>(주)성조</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">위치</li>
            <li class="nav-item mb-2">000-0000-0000</li>
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">seongjo@dongsimwon.kr</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer 끝 -->


  <!-- js 파일들 -->
  <script defer src="{% static './js/bootstrap.js'%}"></script>


  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
</body>

</html>