/* 배경 전체 다 칠하기. */
.background-color{
  background: rgba(233, 236, 239);
  width: 100%;
  height: 100%;
  z-index: -1;
  /* width: 1920px; */
  /* height: 6659px; */
}

/* 전체 컨테이너 */
.all-container{
  /* position: absolute; */
  width: 100%;
  height: 200%;
  /* left: 89px; */
  top: 0px;
  z-index: -1;
  /* background: #D9D9D9; */

}


/* 첫번째 결혼 텍스트 위치 */
/* ex) OOO ❤ ㅁㅁㅁ 결혼합니다 */
.wedding-phrase{
  position: absolute;
  width: 35%;
  height: 150px;
  left: 32.95%;
  top: 20%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  line-height: 55px;
  text-align: center;

  color: #806F6F;
}

/* 결혼 사진 이미지 컨테이너 */
.wedding-photo-image-container{
  box-sizing: border-box;

  position: absolute;
  width: 700px;
  height: 850px;
  left: 32%;
  top: 419px;

  border: 5px solid rgba(114, 114, 114, 0.52);
  border-radius: 226.5px 226.5px 0px 0px;

}

/* 첫번째 꾸미기용 타원 */
.one-ellipse-decorate{
  z-index: 0;
  position: absolute;
  width: 650px;
  height: 650px;
  left: 52%;
  top: 298px;
  background: rgba(255, 237, 216, 0.83);
  filter: blur(182.5px);
}


/* 두번째 꾸미기용 타원 */
.two-ellipse-decorate{
  z-index: 0;
  position: absolute;
  width: 650px;
  height: 650px;
  left: 18%;
  top: 1500px;

  background: #cccccc;
  filter: blur(182.5px);
}


/* 두번째 텍스트 위치 */
.second-text-position{
  margin-left: 36%;
  margin-top : 70%;
  position:sticky;
  width: 550px;

  z-index: 1;
  height: 250px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  text-align: center;

  color: #806F6F;

}

/* 두번째 사각형 컨테이너 위치 */
.second-rectangular-container{
  box-sizing: border-box;

  position: absolute;
  width: 650px;
  height: 357px;
  left: 33%;
  top: 1700px;

  border: 4px solid #5B5B5B;

}

/* 세번째 사각형 컨테이너 위치 */
.Third-Rectangular-Container-Position{

  position: absolute;
  width: 800px;
  height: 350px;
  left: 547px;
  top: 2200px;

  background: #D9D9D9;
  border-radius: 20px;

}

/* 세번째 사각형에 들어갈 텍스트 위치 <예식장 위치> */
.Third-text{
  position: absolute;
  width: 300px;
  height: 60px;
  margin-top: 26.5%;
  margin-left: 42%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 61px;
  /* identical to box height */
  text-align: center;

  color: #806F6F;
}

/* 지도 위치 */
/* 소피텔 앰배서더 서울 호텔 4층 그랜드볼룸 방돔 (서울 송파구 잠실로 209) 잠실역 도보 10분 거리 */
.map-location{
  position: absolute;
  width: 625px;
  height: 120px;
  
  margin-top: 70%;
  margin-left: 33%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;

  color: #806F6F;
}

/* 지도 들어갈 위치 */
.location-on-the-map{
  position: absolute;
  z-index: 1;
  
  background: #D9D9D9;

  width: 200px;
  height: 60px;
  left: 30%;
  top: 280%;
  color: #806F6F;
  border-radius: 25px;
}