{% load static %}
{% load bootstrap5 %}


<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>동심원</title>
  
  <!--파비콘-->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">

  <!-- main css 작성-->
  <link rel="stylesheet" href="{% static './css/home_style.css'%}">
</head>

<body>

  <!-- 헤더 될 위치 -->
  <header>
    <nav class="navbar navbar-expand-lg gray-500 navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><strong>동심원</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-row mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/">할인상품</a></li>
            <li class="nav-item"><a class="nav-link" href="/">판매자 등록 신청</a></li>
            <li class="nav-item"><a class="nav-link" href="/">공지사항</a></li>
            <li class="nav-item"><a class="nav-link" href="/">고객문의</a></li>
            <li class="nav-item"><a class="nav-link" href="/">리뷰보기</a></li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>


  <!-- js 파일들 -->
  <script src="vendors/@popperjs/popper.min.js"></script>
  <script src="vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="vendors/fontawesome/all.min.js"></script>
  <script defer src="{% static './js/bootstrap.js'%}"></script>
  <script defer src="{% static './js/bootstrap.min.js'%}"></script>
  <script defer src="{% static './js/home.js'%}"></script>

  {% comment %} <link rel="stylesheet" href="{% static './css/home_style.css'%}"> {% endcomment %}

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
</body>

</html>